@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
        scrollbar-width: thin; 
    scrollbar-color: #fffefe #000000; 
    
}
.container{
    width: 100vw;
    height: 100vh;
}
.navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px ;
    background-color: black;
}
.lefnav{
    display: flex;
    gap:20px;
}
.lefnav >img:nth-child(2){
    width: 100px;
}
.centernav{
    display: flex;
    justify-content: center;
    width: 60%;
}
#search{
    display: none;
}
.centernav > input{
    width: 50%;
    padding: 10px;
    /* border-radius: 15px; */
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
    font-size: 12px;
    background-color: black;
    border: 1px solid #303030;
    color: #f7eded;
}
.centernav img:nth-child(3){
    padding: 5px 15px;
    /* border-radius: 15px; */
    background-color:#303030 ;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.centernav img:nth-child(4){
    margin-left: 10px;
    background-color:#303030 ;
    border-radius: 50px;
    padding: 10px;
}
.rightnav{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.rightnav img:nth-child(4){
    width: 40px;
    border-radius: 50%;
}
.ytper{
    font-family: Arial, Helvetica, sans-serif;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    gap: 30px;
    align-items: center;
}

.ytdes > h2{
    margin: auto;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    line-height: 30px;
}
.tydel{
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 10px;
}

.tydel > h2{
    font-weight: lighter;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    /* line-height: 30px; */

}

.tydel > button{
    padding: 8px 15px;
    border-radius: 20px;
    width: 36%;
    border: none;
    font-weight: bold;
    background-color: #3ea6ff;
    margin-bottom: 15px;
}
.anuul{
    color: #3ea6ff;
}
.feature {
    display: flex;
    height: 39%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: black;
    color: white;
}
.feature div:nth-child(1),.feature div:nth-child(2),.feature div:nth-child(3) {
    width: 20%;
    height: 80%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* .centerft >img{
    margin-bottom: 30px;
    gap:0px;
} */
.feature div:nth-child(1)>p,.feature div:nth-child(2)>p,.feature div:nth-child(3)>p {
    color: rgba(255, 255, 255, 0.514);
}
.bg1{
    background-image: url(assets/bg1.jpeg);
    height: 70%;
    background-size: cover;
}
.bg1 > div > h2{
    font-size: 2em;
    font-weight: bolder;
}
.bg1 > div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 100px 0px 0px 800px;
    color: beige;
}
.bg1 > div >p{
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.759);
}




.bg2{
    background-image: url(assets/bg2.jpeg);
    height: 70%;
    background-size: cover;
}
.bg2 > div > h2{
    font-size: 2em;
    font-weight: bolder;
}
.bg2 > div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 100px 0px 0px 400px;
    color: beige;
}
.bg2 > div >p{
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.759);
}



.bg3{
    background-image: url(assets/bg3.jpeg);
    height: 70%;
    background-size: cover;
}
.bg3 > div > h2{
    font-size: 2em;
    font-weight: bolder;
}
.bg3 > div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 100px 0px 0px 800px;
    color: beige;
}
.bg3 > div >p{
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.759);
}



.bg4{
    background-image: url(assets/bg4.jpeg);
    height: 70%;
    background-size: cover;
}
.bg4 > div > h2{
    font-size: 2em;
    font-weight: bolder;
}
.bg4 > div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 100px 0px 0px 400px;
    color: beige;
}
.bg4 > div >p{
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.759);
}

.faqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 62%;
    color: white;
    
}
.faqDetail{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}
.faqDetail > p{
    font-size: 20px;
    font-weight: bold;
}
.drop{
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
hr{
    opacity: 0.2;
}
.helpCenter >p{
    font-size: 15px;
    font-weight: 800;
    padding-right: 420px;
    margin-top: 40px;
}
.helpCenter >p >span{
 color: #3ea6ff;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #000000; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: #000000; 
    border-radius: 10px; 
    border: 2px solid #000000; 
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}





.bg1 > div > p,.bg2 > div > p,.bg3 > div >p,.bg4 > div > p {

    width: 270px;
 

}
@media screen and (max-width:480px) {
    .centernav {
        display: none;
        /* opacity: 0; */
        /* visibility: hidden; */
    }
    .rightnav {
        gap: 8px;
    }
    .rightnav img:nth-child(3){
        display: none;
    }
    .ytper {
        height: 85%;
    }
    .ytdes > h2{
        width: 95%;
    }
    .imagety {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .imagety > img {
        width: 80%;
        text-align: center;
    }
    .tydel > button {
        padding: 10px 15px;
        font-size: 13px;
        width: 
        45%;

    }
    .tydel > h2 {
        width: 95%;
        font-weight: 800;
        font-size: 16px;
        color: rgb(0, 0, 0);
    }
    .feature {
        height: 110%;
        flex-wrap: wrap;
        
    }
    .feature div:nth-child(1){
        margin-top: 40px;
    }
    .feature div:nth-child(1), .feature div:nth-child(2), .feature div:nth-child(3) {
        width: 80%;
        justify-content: center;
        height: 28%;
    }
    .feature div:nth-child(1)>p,.feature div:nth-child(2)>p,.feature div:nth-child(3)>p {
        font-size: 12px;
    }
    .feature div:nth-child(1)>h2,.feature div:nth-child(2)>h2,.feature div:nth-child(3)>h2 {
        font-size: 16px;
    }
    .feature div:nth-child(3){
        margin-bottom: 30px;
    }
    .bg1,.bg2,.bg3,.bg4 {
        height: 30%;
        overflow: hidden;
        background-position: center;
      
    }
    .bg1 > div,.bg2 > div,.bg3 > div,.bg4 > div {
        padding: 0 10px 10px 3px;
        height: 100%;
        width: 95%;
        justify-content: end;
        gap:10px;

    }
    .headd{
        font-size: 1.5em !important;
        margin-left:5px ;
        
    }
    .pphara{
        font-size: 16px;
        margin-left:5px ;
    }
    .faqs {
        height: 80%;
    }

    .helpCenter >p {
        margin: auto;
        width: 50%;
        padding-right: 0px;
        padding-top: 24px;
        
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .centernav {
        display: none;
        /* opacity: 0; */
        /* visibility: hidden; */
    }
    .rightnav {
        gap: 8px;
    }
    .rightnav img:nth-child(3){
        display: none;
    }
    .ytper {
        height: 85%;
    }
    .ytdes > h2{
        width: 95%;
    }
    .imagety {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .imagety > img {
        width: 80%;
        text-align: center;
    }
    .tydel > button {
        padding: 10px 15px;
        font-size: 13px;
        width: 
        45%;

    }
    .tydel > h2 {
        width: 95%;
        font-weight: 800;
        font-size: 16px;
        color: rgb(0, 0, 0);
    }
    .feature {
        height: 110%;
        flex-wrap: wrap;
        
    }
    .feature div:nth-child(1){
        margin-top: 40px;
    }
    .feature div:nth-child(1), .feature div:nth-child(2), .feature div:nth-child(3) {
        width: 80%;
        justify-content: center;
        height: 28%;
    }
    .feature div:nth-child(1)>p,.feature div:nth-child(2)>p,.feature div:nth-child(3)>p {
        font-size: 12px;
    }
    .feature div:nth-child(1)>h2,.feature div:nth-child(2)>h2,.feature div:nth-child(3)>h2 {
        font-size: 16px;
    }
    .feature div:nth-child(3){
        margin-bottom: 30px;
    }
    .bg1,.bg2,.bg3,.bg4 {
        height: 59%;
        overflow: hidden;
        background-position: center;
      
    }
    .bg1 > div,.bg2 > div,.bg3 > div,.bg4 > div {
        padding: 0 10px 10px 3px;
        height: 100%;
        width: 95%;
        justify-content: end;
        gap:10px;

    }
    .headd{
        font-size: 1.5em !important;
        margin-left:5px ;
        
    }
    .pphara{
        font-size: 16px;
        margin-left:5px ;
    }
    .faqs {
        height: 80%;
    }

    .helpCenter >p {
        margin: auto;
        width: 50%;
        padding-right: 0px;
        padding-top: 24px;
        
    }
    
}

@media screen and (min-width:769px) and (max-width:1200px) {
    
}

@media screen and (min-width:1201px) {
    
}
