*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #fcf5eb;
    padding: 0 40px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    
}
.navbar img:nth-child(1){
    width: 130px;
    height: 30px;
}
.nav-item{
    font-size: 16px;
    display: flex;
    gap: 40px;
}
.nav-item > p{
position: relative;
cursor: pointer;
}
.nav-item > p::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #25d366;
    bottom: 0%;
    left: 1%;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    transform-origin: left;
    gap :5px;
    
}
.nav-item > p:hover::after{
    transform: scaleX(1);

}
.navbar > button, .btn{
    display: flex;
    padding: 15px 25px;
    font-size: 18px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background-color: #25d366;
    border: none;
    border: 1px solid black;
   
}
.feature{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 110px;
    height: 20px;
    
}
.feature::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #25d366;
    bottom: 0%;
    left: 11%;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    transform-origin: left;
    gap :5px;
}
.feature:hover::after{
    transform: scaleX(1);

}
.feature >img{
    /* rotate: -90deg; */
    transform: rotate(-90deg);
    width: 10px;
    height: 15px;
}

.firstsection{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    width: 100%;


}
.bgimage{
    background-image: url(whatsaap/MaaBeti.png);
    height: 80%;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.firstsection > p{
    float: right;
    text-align: end;
    font-size: 12px;
    opacity: 0.8;
    padding-top: 10px;
}
.right{
    position: relative;
    width: 30%;
    margin-top:1%;
    height: 95%;
    overflow: hidden;
}
.right img:nth-child(1){
    width: 375px;
    animation: gm 0.7s ease-in-out;

}
@keyframes gm {
    0%{
        transform: translateY(50px);
    }
    100%{
        
        transform: translateY(0px);
    }
    
}
.right img:nth-child(2){
    position: absolute;
    width: 375px;
    top: 17px;
    left:0px;
    animation: dil 1s ease-in-out;

}
@keyframes dil {
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        
    }
    
}
.right img:nth-child(3){
    margin-left: 20px;
    width: 375px;
    animation: chai 1.8s ease-in-out ;

}
@keyframes chai {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        
        transform: translateY(0px);
    }
}
.right img:nth-child(4){
    width: 375px;
    animation: voice 2.2s ease-in-out ;

}
@keyframes voice {
    0%{
        transform: translateY(70px);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        
        transform: translateY(0px);
    }
}
.right img:nth-child(5){
    width: 375px;
    animation: emo 2.4s ease-in-out ;

}
@keyframes emo {
    0%{
        transform: translateY(70px);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        
        transform: translateY(0px);
    }
}
.right img:nth-child(6){
    position: absolute;
    top: 400px;
    right: 50px;
    width: 375px;
    animation: emoemo 2.8s ease-in-out;

}
@keyframes emoemo {
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        
    }
    
}
.right img:nth-child(7){
    
    padding-top: 30px;
    width: 375px;
    animation: trip 3.5s ease-in-out ;

}
@keyframes trip {
    0%{
        transform: translateY(70px);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        
        transform: translateY(0px);
    }
}
.left{
    display: flex;
    flex-direction: column;
    gap: 30px;
   
}
.leftmsg {
    color: white;
}
.leftmsg > h1{
 font-size: 70px;
 font-weight: 500;
 margin-bottom: 10px;
 line-height: 60px;
 letter-spacing: -3px;
 overflow-y: hidden;
}
.btn2{
width: 160px;
}


